In [71]:
import pandas as pd
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
df = pd.read_csv('Desktop/csv_files/heart.csv')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [72]:
import numpy as np
np.unique(df.ChestPainType)

array(['ASY', 'ATA', 'NAP', 'TA'], dtype=object)

In [73]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [74]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [75]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [76]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [77]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [78]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [79]:
df4 = df3.copy()
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    
    inplace=True)
df4.Sex.replace(
    {
        'M': 0,
        'F': 1
    },
    
    inplace=True)
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,ATA,140,289,0,1,172,0,0.0,3,0
1,49,1,NAP,160,180,0,1,156,0,1.0,2,1
2,37,0,ATA,130,283,0,2,98,0,0.0,3,0
3,48,1,ASY,138,214,0,1,108,1,1.5,2,1
4,54,0,NAP,150,195,0,1,122,0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,TA,110,264,0,1,132,0,1.2,2,1
914,68,0,ASY,144,193,1,1,141,0,3.4,2,1
915,57,0,ASY,130,131,0,1,115,1,1.2,2,1
916,57,1,ATA,130,236,0,3,174,0,0.0,2,1
917,38,0,NAP,138,175,0,1,173,0,0.0,3,0

In [80]:
dummies = pd.get_dummies(df4.ChestPainType)
df5 = pd.concat([df4,dummies],axis='columns')
df5

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,ATA,140,289,0,1,172,0,0.0,3,0,0,1,0,0
1,49,1,NAP,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,0,ATA,130,283,0,2,98,0,0.0,3,0,0,1,0,0
3,48,1,ASY,138,214,0,1,108,1,1.5,2,1,1,0,0,0
4,54,0,NAP,150,195,0,1,122,0,0.0,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,TA,110,264,0,1,132,0,1.2,2,1,0,0,0,1
914,68,0,ASY,144,193,1,1,141,0,3.4,2,1,1,0,0,0
915,57,0,ASY,130,131,0,1,115,1,1.2,2,1,1,0,0,0
916,57,1,ATA,130,236,0,3,174,0,0.0,2,1,0,1,0,0
917,38,0,NAP,138,175,0,1,173,0,0.0,3,0,0,0,1,0

In [81]:
df5.drop('ChestPainType',axis='columns', inplace=True)
df5

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,0,140,289,0,1,172,0,0.0,3,0,0,1,0,0
1,49,1,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,0,130,283,0,2,98,0,0.0,3,0,0,1,0,0
3,48,1,138,214,0,1,108,1,1.5,2,1,1,0,0,0
4,54,0,150,195,0,1,122,0,0.0,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,110,264,0,1,132,0,1.2,2,1,0,0,0,1
914,68,0,144,193,1,1,141,0,3.4,2,1,1,0,0,0
915,57,0,130,131,0,1,115,1,1.2,2,1,1,0,0,0
916,57,1,130,236,0,3,174,0,0.0,2,1,0,1,0,0
917,38,0,138,175,0,1,173,0,0.0,3,0,0,0,1,0

In [82]:
X = df5.drop('HeartDisease',axis='columns')
Y = df5.HeartDisease

In [83]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269, -0.51485643,  0.46089071, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.94228905,  1.5925728 , ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.51485643, -0.10495034, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.51485643, -0.10495034, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878,  1.94228905, -0.10495034, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227, -0.51485643,  0.3477225 , ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [84]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_scaled,Y,test_size=0.2)

In [85]:
model_params={
    'svm':{
        'model': svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression':{
        'model':LogisticRegression(),
        'params':{
            'C':[1,5,10]
        }
    }
}

In [87]:
from sklearn.model_selection import GridSearchCV
scores=[]

for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(x_train,y_train)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [88]:
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                   best_params
0                  svm    0.851590  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.847452          {'n_estimators': 10}
2  logistic_regression    0.850211                      {'C': 1}

In [93]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca.shape

(902, 2)

In [94]:
from sklearn.model_selection import train_test_split
x_train_pca,x_test_pca,y_train,y_test = train_test_split(X_pca,Y,test_size=0.2)

In [98]:
model = svm.SVC()
model.fit(x_train_pca, y_train)
model.score(x_test_pca, y_test)

0.7403314917127072